<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Login_Hash.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Login_Hash.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Login_Hash.Properties.Settings.Entrar_sdfConnectionString"
            connectionString="Data Source=sqlexpress;Initial Catalog=Entrar.sdf;Persist Security Info=True;User ID=aluno;Password=aluno;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Login_Hash.Properties.Settings>
            <setting name="senhaSMTP" serializeAs="String">
                <value>EF797C8118F02DFB649607DD5D3F8C7623048C9C063D532CC95C5ED7A898A64F</value>
            </setting>
            <setting name="LoginsConnectionString" serializeAs="String">
                <value>Data Source=c:\dados\Entrar.sdf</value>
            </setting>
        </Login_Hash.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Login_Hash.Properties.Settings>
            <setting name="enderecoSMTP" serializeAs="String">
                <value>macoratti.smtp.com</value>
            </setting>
            <setting name="portaSMTP" serializeAs="String">
                <value>53</value>
            </setting>
            <setting name="emailSMTP" serializeAs="String">
                <value>macoratti@yahoo.com</value>
            </setting>
        </Login_Hash.Properties.Settings>
    </applicationSettings>
</configuration>